/*Global*/
html {
    font-size: 100%;
    height: 100%;

}

body{
    text-align: center;
}
p{
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    padding-top: 20px;
}

.page-wrapper {
  width: 100%;
  margin: 0.25em auto;
  max-width: 1800px;
  position: relative;
  padding: 0 4%;
}


/*Top banner*/
.banner{
    background: url("family-group1.jpg") center center no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
    height: 120px;
    width: 100%;
    padding: 0;
}

/*Navigation bar*/

#menu ul,
#menu li,
#menu span,
#menu a {
  margin: 0;
  padding: 0;
  position: relative;
}

#menu {
  line-height: 1;
  border-radius: 5px 5px 0 0;
  background: #ffffff;
  border-bottom: 2px solid #999;
  width: auto;
}

#menu:after,
#menu ul:after {
  content: '';
  display: block;
  clear: both;
}

#menu a {
  background: #fff;
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
}

#menu ul {
  list-style: none;
}

#menu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}

#menu.align-center {
  text-align: center;
}

#menu.align-center > ul > li {
  float: none;
}

#menu.align-center ul ul {
  text-align: left;
}

#menu.align-right > ul {
  float: right;
}

#menu.align-right ul ul {
  text-align: right;
}

#menu > ul > li > a {
  color: #000000;
  font-size: 10px;
}
#menu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #999;
  margin-left: -10px;
}
#menu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}

#menu.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
}

#menu > ul > li.active > a,
#menu > ul > li:hover > a {
  color: #e5452c;
  box-shadow: inset 0 0 3px #d9d9d9;
  background: #eee;

}

#menu .has-sub {
  z-index: 1;
}

#menu .has-sub:hover > ul {
  display: block;
}

#menu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}

#menu.align-right .has-sub ul {
  left: auto;
  right: 0;
}

#menu .has-sub ul li {
  *margin-bottom: -1px;
}

#menu .has-sub ul li a {
  background: #eee;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #222;
}

#menu .has-sub ul li:hover a {
  background: #eee;
}

#menu ul ul li:hover > a {
  color: #e5452c;
}

#menu .has-sub .has-sub:hover > ul {
  display: block;
}

#menu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

/*Nav bar media queries*/

/* Larger than mobile */
@media (min-width: 400px) {
.banner{
    background: url("family-group1.jpg") center center no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 10px;
    height: 160px;
    width: 100%;
    padding:0;
}
#menu > ul > li > a {
  font-size: 10px;
}
}
/* Lager than phablet*/
@media (min-width: 550px) {
.banner{
  background: url("family-group1.jpg") center center no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 10px;
    height: 180px;
    width: 100%;
    padding:0;
}
#menu > ul > li > a {
  font-size: 12px;
}
}
/* Larger than tablet */
@media (min-width: 750px) {
.banner{
  background: url("family-group1.jpg") center center no-repeat;
  background-size:cover;
  background-position: center;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 220px;
  width: 100%;
  padding:0;
}
#menu > ul > li > a {
  font-size: 12px;
}
}
/* Larger than desktop */
@media (min-width: 1000px) {
.banner{
  background: url("family-group1.jpg") center center no-repeat;
  background-size:cover;
  background-position: center;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 260px;
  width: 100%;
  padding:0;
}
#menu > ul > li > a {
  font-size: 13px;
}
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
.banner{
  background: url("family-group1.jpg") center center no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 280px;
    width: 100%;
    padding:0;
}
#menu > ul > li > a {
  font-size: 13px;
}
}
/*main-content*/
.main-content{
    border-bottom: 2px solid #999;
}
/*Profile Picture*/
.main-content img{
    max-width: 85px;
    max-height: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%
}

.main-content img {
    display: block;
    width: 100%;
    border-radius: 1000px;   
}

/*Blog selector*/

.select h3 {
font-size: 2em;
  letter-spacing: 0.05em;
  padding: 0.5em 0;
  margin: 0.35em auto 0.75em;
  position: center;

}

.selection {
  margin-top: 20px;
  margin-bottom: 20px;

}

.selection {
    font-size: 9px;
}

.selection ul {
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

.selection li {
  text-align: left;
  color: transparent;
  margin-bottom: 0.28em;
  clear: both;

}

.selection li a {
  text-decoration: none;
  color: #3f3d3a;

}

.selection a:hover, .selection a:focus {
  color: #e5452c;
}


.blog-name {
  font-style: italic;
  background: #fff;
  padding-right: 0.25em;
}

.blog-name:after {
    float: left;
    width: 0;
    white-space: nowrap;
    color: #3f3d3a;
    content: "...................................................................................................................................................................................................................................................................................."
}

.blog-details {
  float: right;
  font-size: 1em;
  text-transform: uppercase;
  background: #fff;
  padding-left: 0.25em;
}
/*Blog selector media queries*/

/* Larger than mobile */
@media (min-width: 400px) {
  .selection ul{
  margin-left: 2%;
  margin-right: 2%;
}
.selection {
    font-size: 14px;
}
}
/* Lager than phablet*/
@media (min-width: 550px) {
  .selection ul{
  margin-left: 5%;
  margin-right: 5%;
}
.selection {
    font-size: 12px;
}
}
/* Larger than tablet */
@media (min-width: 750px) {
  .selection ul{
  margin-left: 12%;
  margin-right: 12%;
}
.selection {
    font-size: 14px;
}
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .selection ul{
  margin-left: 15%;
  margin-right: 15%;
}
.selection {
    font-size: 16px;
}
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .selection ul{
  margin-left: 15%;
  margin-right: 15%;
}
.selection {
    font-size: 16px;
}
}
/*footer*/
.footer a{
    padding-right: 1.0em;
    padding-left: 1.0em;
    margin-bottom: 30px;
}

