/*Global*/
html {
  font-size: 100%;
  height: 100%;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    text-align: center;

}
/*Top banner*/
header {
  background: "EBEBEB";
}
.content-img{ 
  background: url("family-group1.jpg") center center no-repeat;
  background-position: center;
  background-size: cover; 
  height: 440px;
  width: 100%;
  margin-top: -5px;
  margin-bottom: 10px;
  padding: 0;
}

.content-img h1 { 
   color: white;
   text-align: left;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   position: absolute;
   top: 330px;
   right:0;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 5px; 
   font-size: 2.5rem;
   margin-left: 7%;
   margin-right: 7%;
   
}
.content-img p { 
  color: white;
  text-align: right;
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top:380px;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 7%;
  margin-right: 7%;
}
.name {
  margin: 0;
}
/*Banner | Main-content-----------------------*/
/* Small | old mobile */
@media (min-width: 300px) {
  .content-img h1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
  .content-img p {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem
  }
}
/* Larger than mobile */
@media (min-width: 400px) {
.content-img h1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
  .content-img p {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem
  }
}
/* Lager than phablet*/
@media (min-width: 550px) {
  .content-img {
    height: 450px;
  }
  .content-img h1 {
    font-size: 3.5rem;
    margin-left: 0;
    margin-right: 0;
  }
  .content-img p {
    margin-left: 0;
    margin-right: 0;
    top:390px;
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
  .content-img {
    height: 490px;
  }
  .content-img h1 {
    font-size: 4rem;
    margin-left: 0;
    margin-right: 0;
    top: 360px;
  }
  .content-img p {
    margin-left: 0;
    margin-right: 0;
    top:430px;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .content-img {
    height: 490px;
  }
  .content-img h1 {
    font-size: 5.5rem;
    margin-left: 0;
    margin-right: 0;
    top: 350px;
  }
  .content-img p {
    font-size: 1.7rem;
    margin-left: 0;
    margin-right: 0;
    top:435px;
  }
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .content-img {
    height: 560px;
  }
  .content-img h1 {
    font-size: 6rem;
    margin-left: 0;
    margin-right: 20px;
    top: 390px;
  }
  .content-img p {
    font-size: 1.8rem;
    margin-left: 0;
    margin-right: 20px;
    top:485px;`
  }
}
/*Navigation bar----------------------------*/
.arrow {
    font-size: 11px;
    line-height: 0%;
}
.menu ul,
.menu li,
.menu span,
.menu a {
  margin: 0;
  padding: 0;
  position: relative;
  color: #fff;
  text-transform: uppercase;  
}
}
.menu {
  line-height: 1;
  border-radius: 10px;
  background: transparent;
  width: auto;
}

.menu a {
  background: transparent;
  color: #ffffff;
  display: block;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 19px 5px;
  text-decoration: none;
}

.menu :hover > a {
  color: #1EAEDB;
}

.menu ul {
  list-style: none;
}

.menu > ul > li {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.menu.align-center {
  text-align: center;
}

.menu.align-center > ul > li {
  float: none;
}

.menu.align-center ul ul {
  text-align: center;
}

.menu.align-right > ul {
  float: center;
}

.menu.align-right ul ul {
  text-align: center;
}

.menu > ul > li > a {
  color: white;
  font-size: 1.5rem;

}
.menu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -10px;
}

.menu .has-sub {
  z-index: 1;
}

.menu .has-sub:hover > ul {
  display: block;
}

.menu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  right: 0;
}

.menu.align-right .has-sub ul {
  left: 0;
  right: auto;
}

.menu .has-sub ul li {
  *margin-bottom: -1px;
}

.menu .has-sub ul li a {
  box-shadow: inset 0 0 3px #d9d9d9;
  background-color: rgba(34,34,34,0.8);
  border-radius: 10px;
  color: white;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
}

.menu ul ul li:hover > a {
  color: #e5452c;
}

.menu .has-sub .has-sub:hover > ul {
  display: block;
}

.menu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
}

/*Nav bar media queries*/

/*Small | old mobile */
@media (min-width: 300px) {

.menu > ul > li > a {
  font-size: 11px;
  margin-right: -5px;
}
}

/* Larger than mobile */
@media (min-width: 400px) {

.menu > ul > li > a {
  font-size: 11px;
}
}
/* Lager than phablet*/
@media (min-width: 550px) {

.menu > ul > li > a {
  font-size: 12px;
}
.menu .has-sub ul li a {
  font-size: 13px;
}
}

/* Larger than tablet */
@media (min-width: 750px) {

.menu > ul > li > a {
  font-size: 14px;
}
.menu .has-sub ul li a {
  font-size: 13px;
}
}
/* Larger than desktop */
@media (min-width: 1000px) {

.menu > ul > li > a {
  font-size: 14px;
}
.menu .has-sub ul li a {
  font-size: 13px;
}
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {

.menu > ul > li > a {
  font-size: 1.7rem;
  margin-right: 50px;
}
.menu .has-sub ul li a {
  font-size: 13px;
}
}
/*ABOUT ME Content-------------------------------------*/
.about-me h1, p{
  margin-top: 50px;
}

.about-me p{
  margin-left: 7%;
  margin-right: 7%;
}
/*.about-me img {
  border-radius: 90%;
  height: 100px;
  margin-bottom: 20px;
}*/
.about-me #whakatauki {
  margin-bottom: 100px;
}
.about-me a {
  text-decoration: none;
}
/*
.about-me h1 {
   color: white;
   text-align: center; 
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   display: auto;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 5px; 
   margin-top: 20px;
}
.about-me p { 
  color: white; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 20px;
}
*/
/*Blog selector-----------------------------------*/
.selection h3 {
  font-size: 2em;
  letter-spacing: 0.05em;
  padding: 0.5em 0;
  margin: 0.35em auto 0.75em;
  position: center;
  border-bottom: 2px solid #999;
  width: auto;
}
.selection {
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  background:#EBEBEB;
}
.selection ul li a{
    font-size: 11px;
}
.selection ul {
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
  margin-left: 3%;
  margin-right: 3%;
}
.selection li {
  text-align: left;
  color: transparent;
  margin-bottom: 0.28em;
  clear: both;
}
.selection li a {
  text-decoration: none;
  color: #1EAEDB;
}
.selection a:hover, .selection a:focus {
  color: #e5452c;
}
.blog-name {
  font-style: italic;
  background: #fff;
  padding-right: 0.25em;
  padding-left: 0.25em;
}
.blog-name:after {
    float: left;
    width: 0;
    white-space: nowrap;
    color: #3f3d3a;
    content: "............................................................................................................................................................................................................................................................................................................................................"
}
.blog-details {
  float: right;
  font-size: 1em;
  text-transform: uppercase;
  background: #fff;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
/*Blog selector media queries-----------------------------------*/
/* Larger than mobile */
@media (min-width: 400px) {
  .selection ul {
  margin-left: 2%;
  margin-right: 2%;
}
.selection ul li a{
    font-size: 14px;
}
}
/* Lager than phablet*/

@media (min-width: 550px) {
  .selection ul {
  margin-left: 5%;
  margin-right: 5%;
}
.selection ul li a{
    font-size: 15px;
}
}

/* Larger than tablet */

@media (min-width: 750px) {
  .selection ul {
  margin-left: 8%;
  margin-right: 8%;
}
.selection ul li a{
    font-size: 16px;
}
}

/* Larger than desktop */

@media (min-width: 1000px) {
  .selection ul {
  margin-left: 10%;
  margin-right: 10%;
}
.selection ul li a{
    font-size: 16px;
}
}
/* Larger than Desktop HD */

@media (min-width: 1200px) {
  .selection ul {
  margin-left: 10%;
  margin-right: 10%;
}

.selection ul li a{
    font-size: 16px;
}
}
/*Projects-------------------------------*/
.projects {
  padding: 0;
}
.projects h1 {
  margin-top: 50px;
}
.projects a {
  text-decoration: none;
  color: #1EAEDB;
}
.projects a:hover {
  color: #e5452c;
}
.projects img{
  width: 100px;
  height: 75px;
  margin-bottom: 100px;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */

}
.projects img:hover {
  width: 110px;
  height: 85px;
  margin-bottom: 90px;
  opacity: 1.0;
  filter: alpha(opacity=100);
}
/*footer-----------------------------------*/
.footer a {
    padding-right: 1.0em;
    padding-left: 1.0em;
    padding-bottom: 20px;
}

